body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

.auth-container {
    width: 350px;
    margin: 80px auto;
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.auth-btn {
    width: 100%;
    padding: 12px;
    background: #ECD06F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.auth-btn:hover {
    background: #daba57;
}

.switch-text {
    text-align: center;
    margin-top: 15px;
}

/* nav bar style */
header {
    position: sticky;
    top: 0;
    z-index: 100;
    background: white;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

header h1 {
    margin: 0;
}

header h1 a{
    color:inherit;
    text-decoration: none;
}

/* TOP RIGHT LOGIN BUTTON */
#loginBtn {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 10px 18px;
    border: none;
    background: #FF9398;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

#loginBtn:hover {
    background: #FF9398;
}