body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
}

header {
    position: relative;
    background: white;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

header h1 {
    margin: 0;
}

/* TOP RIGHT LOGIN BUTTON */
#loginBtn {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 10px 18px;
    border: none;
    background: #FF9398;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

#loginBtn:hover {
    background: #FF9398;
}

.search-container {
    margin: 30px auto;
    width: 60%;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-btn {
    margin-top: 15px;
    padding: 12px 25px;
    background: #ECD06F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.search-btn:hover {
    background: #ECD06F;
}

#resultsSection {
    width: 60%;
    margin: 20px auto;
}

.result-item {
    background: white;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}